

.covid-wrapper {
  position: absolute;
  right: 42px;
  top: 200px;
}
.cell-wrapper{
  position: relative;
  top: -680px;
}


.covid {
  background-image: url("../img/dark-stripes.png"), -webkit-gradient(linear, right bottom, left top, from(#9d1231), color-stop(#ae1a38), color-stop(#be2240), color-stop(#d02a47), color-stop(#e1324f), color-stop(#ea4153), color-stop(#f34e58), color-stop(#fc5b5d), color-stop(#fd6e61), color-stop(#fe7f68), color-stop(#ff8f70), to(#ff9e7a));
  background-image: url("../img/dark-stripes.png"), linear-gradient(to left top, #9d1231, #ae1a38, #be2240, #d02a47, #e1324f, #ea4153, #f34e58, #fc5b5d, #fd6e61, #fe7f68, #ff8f70, #ff9e7a);
  width: 410px;
  height: 410px;
  z-index: 2;
  overflow: hidden;
  position: relative;
  right: 0px;

  border-radius: 50%;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}
.covid-pulse {
  content: "";
  width: 480px;
  height: 480px;
  /* background-color: #2f184e; */
  border-radius: 50%;
  position: absolute;
  top:160px;
  right: 10px;
  box-shadow: inset 0 0 25px #8f2453;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.21);
  }
  70% {
    box-shadow: 0 0 8px 55px rgba(99, 32, 91, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(99, 32, 91, 0.1);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.21);
  }
  70% {
    box-shadow: 0 0 8px 55px rgba(99, 32, 91, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(99, 32, 91, 0.1);
  }
}


.covid-spot {
  background-image: url("../img/dark-stripes.png");
  background-color: #7f0918;
  position: absolute;
  border-radius: 50%;
}
.covid-spot:nth-child(1) {
  top: 216px;
  right: 50px;
  width: 22px;
  height: 22px;
  background-color: #90101e;
}
.covid-spot:nth-child(2) {
  top: 56px;
  right: 140px;
  width: 24px;
  height: 24px;
  background-color: #90101e;
}
.covid-spot:nth-child(3) {
  top: 136px;
  right: 35px;
  width: 18px;
  height: 18px;
  background-color: #630510;
}
.covid-spot:nth-child(4) {
  top: 46px;
  right: 255px;
  width: 28px;
  height: 28px;
  background-color: #bc413e;
}
.covid-spot:nth-child(5) {
  top: 106px;
  right: 335px;
  width: 18px;
  height: 18px;
  background-color: #bc413e;
}
.covid-sticks {
  position: absolute;
  bottom: 33px;
  left: 36px;
}
.g-covid-sticks {
  position: absolute;
  bottom: 33px;
  left: 36px;
}

.covid-stick {
  position: absolute;
  overflow: visible;
  display: block;
  width: 6px;
  z-index: -1;
  height: 50px;
  background-image: url("../img/dark-stripes.png"), -webkit-gradient(linear, right bottom, left top, from(#9d1231), color-stop(#ae1a38), color-stop(#be2240), color-stop(#d02a47), color-stop(#e1324f), color-stop(#ea4153), color-stop(#f34e58), color-stop(#fc5b5d), color-stop(#fd6e61), color-stop(#fe7f68), color-stop(#ff8f70), to(#ff9e7a));
  background-image: url("../img/dark-stripes.png"), linear-gradient(to left top, #9d1231, #ae1a38, #be2240, #d02a47, #e1324f, #ea4153, #f34e58, #fc5b5d, #fd6e61, #fe7f68, #ff8f70, #ff9e7a);
}

.covid-stick:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/dark-stripes.png"), -webkit-gradient(linear, right bottom, left top, from(#9d1231), color-stop(#ae1a38), color-stop(#be2240), color-stop(#d02a47), color-stop(#e1324f), color-stop(#ea4153), color-stop(#f34e58), color-stop(#fc5b5d), color-stop(#fd6e61), color-stop(#fe7f68), color-stop(#ff8f70), to(#ff9e7a));
  background-image: url("../img/dark-stripes.png"), linear-gradient(to left top, #9d1231, #ae1a38, #be2240, #d02a47, #e1324f, #ea4153, #f34e58, #fc5b5d, #fd6e61, #fe7f68, #ff8f70, #ff9e7a);
  top: 36px;
  right: -5px;
  border-radius: 50%;
}

.covid-stick:nth-child(1) {
  bottom: 40px;
  left: 40px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.covid-stick:nth-child(2) {
  bottom: 110px;
  left: 8px;
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
}
.covid-stick:nth-child(3) {
  bottom: 180px;
  left: -14px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.covid-stick:nth-child(4) {
  bottom: 255px;
  left: 10px;
  -webkit-transform: rotate(110deg);
  transform: rotate(110deg);
}
.covid-stick:nth-child(5) {
  bottom: 335px;
  left: 51px;
  -webkit-transform: rotate(130deg);
  transform: rotate(130deg);
}
.covid-stick:nth-child(6) {
  bottom: 370px;
  left: 122px;
  -webkit-transform: rotate(154deg);
  transform: rotate(154deg);
}
.covid-stick:nth-child(7) {
  bottom: 370px;
  left: 277px;
  -webkit-transform: rotate(-154deg);
  transform: rotate(-154deg);
}
.covid-stick:nth-child(8) {
  bottom: 396px;
  left: 200px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.covid-stick:nth-child(9) {
  bottom: 335px;
  left: 350px;
  -webkit-transform: rotate(-130deg);
  transform: rotate(-130deg);
}
.covid-stick:nth-child(10) {
  bottom: 255px;
  left: 390px;
  -webkit-transform: rotate(-110deg);
  transform: rotate(-110deg);
}
.covid-stick:nth-child(11) {
  bottom: 180px;
  left: 415px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.covid-stick:nth-child(12) {
  bottom: 110px;
  left: 392px;
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
.covid-stick:nth-child(13) {
  bottom: 40px;
  left: 362px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.covid-spot:nth-child(6) {
  top: 206px;
  right: 315px;
  width: 52px;
  height: 52px;
  background: url("../img/dark-stripes.png"), linear-gradient(305deg, #801015 0%, #aa3432 100%);
}
.covid-spot:nth-child(7) {
  top: 256px;
  right: 295px;
  width: 14px;
  height: 14px;
  background-color: #801216;
}
.covid-spot:nth-child(8) {
  top: 286px;
  right: 365px;
  width: 38px;
  height: 38px;
  background-color: #801216;
}
.covid-spot:nth-child(9) {
  top: 286px;
  right: 45px;
  width: 16px;
  height: 16px;
  background-color: #801216;
}
.covid-spot:nth-child(10) {
  top: 75px;
  right: 75px;
  width: 36px;
  height: 36px;
  background-color: #801216;
}
.covid-spot:nth-child(11) {
  top: 240px;
  right: 90px;
  width: 50px;
  height: 50px;
  background-color: #7a0a14;
}

.virus {
  position: absolute;
  z-index: 99;
  border-radius: 50%;
  -webkit-animation: slip 7s linear infinite alternate;
          animation: slip 7s linear infinite alternate;
}
.virus:nth-child(1) {
  top: 0;
  right: 2px;
  width: 22px;
  height: 22px;
  background-color: #f43a62;
  box-shadow: inset 0px 0px 0px 4px #8f2453, 0 0 12px 3px #8f2453;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.virus:nth-child(2) {
  top: 190px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-color: #f43a62;
  box-shadow: inset 0px 0px 0px 6px #8f2453, 0 0 12px 3px #8f2453;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.virus:nth-child(3) {
  top: 140px;
  right: 450px;
  width: 32px;
  height: 32px;
  background-color: #f08e61;
  box-shadow: inset 0px 0px 0px 6px #90545d, 0 0 12px 3px #90545d;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.virus:nth-child(4) {
  top: 440px;
  right: 25px;
  width: 22px;
  height: 22px;
  background-color: #f08e61;
  box-shadow: inset 0px 0px 0px 4px #90545d, 0 0 12px 3px #90545d;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.virus:nth-child(5) {
  top: 380px;
  right: -20px;
  width: 22px;
  height: 22px;
  background-color: #f43a62;
  box-shadow: inset 0px 0px 0px 4px #8f2453, 0 0 12px 3px #8f2453;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.virus:nth-child(6) {
  top: -30px;
  right: 350px;
  width: 22px;
  height: 22px;
  background-color: #f43a62;
  box-shadow: inset 0px 0px 0px 4px #8f2453, 0 0 12px 3px #8f2453;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.virus:nth-child(7) {
  top: -80px;
  right: 200px;
  width: 22px;
  height: 22px;
  background-color: #f08e61;
  box-shadow: inset 0px 0px 0px 4px #90545d, 0 0 12px 3px #90545d;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.virus:nth-child(8) {
  top: 30px;
  right: 450px;
  width: 32px;
  height: 32px;
  background-color: #f08e61;
  box-shadow: inset 0px 0px 0px 6px #90545d, 0 0 12px 3px #90545d;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.virus:nth-child(9) {
  top: 270px;
  right: 480px;
  width: 22px;
  height: 22px;
  background-color: #f43a62;
  box-shadow: inset 0px 0px 0px 4px #8f2453, 0 0 12px 3px #8f2453;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.virus:nth-child(10) {
  top: 390px;

  width: 22px;
  height: 22px;
  background-color: #f08e61;
  box-shadow: inset 0px 0px 0px 6px #90545d, 0 0 12px 3px #90545d;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

@-webkit-keyframes slip {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  20% {
    -webkit-transform: translate(-6px, -6px);
            transform: translate(-6px, -6px);
  }
  40% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  60% {
    -webkit-transform: translate(-10px, -2px);
            transform: translate(-10px, -2px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes slip {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  20% {
    -webkit-transform: translate(-6px, -6px);
            transform: translate(-6px, -6px);
  }
  40% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  60% {
    -webkit-transform: translate(-10px, -2px);
            transform: translate(-10px, -2px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.covid-eyes {
  position: absolute;
  background: #262626;
  background: linear-gradient(113deg, #110534 0%, #2e1672 100%);
  width: 18px;
  height: 26px;
  right: 230px;
  bottom: 61%;
  border-radius: 50%;
  -webkit-animation: eyes-blink 4s infinite;
          animation: eyes-blink 4s infinite;
}
.covid-eyes.left {
  right: 160px;
}
.covid-eyes.left:before {
  right: 10px;
}
.covid-eyes:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  right: 10px;
  top: 8px;
  border-radius: 50%;
  background-color: #fff;
}
@-webkit-keyframes eyes-blink {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  2% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  4% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  6% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  8% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  66% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  68% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes eyes-blink {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  2% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  4% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  6% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  8% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  66% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  68% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
.covid-eyebrow {
  top: 35%;
  position: absolute;
  border: 9px solid #550611;
  border-color: transparent transparent transparent #550611;
  height: 25px;
  width: 122px;
  right: 38%;
  border-radius: 50px 0 0 50px;
  -webkit-transform: rotate(56deg);
          transform: rotate(56deg);
}
.covid-eyebrow:before {
  content: "";
  position: absolute;
  background-color: #550611;
  width: 9px;
  height: 9px;
  top: -5px;
  left: -3px;
  border-radius: 50%;
}
.covid-eyebrow:after {
  content: "";
  position: absolute;
  background-color: #550611;
  width: 9px;
  height: 9px;
  top: 20px;
  left: -4px;
  border-radius: 50%;
}
.covid-eyebrow.right {
  left: 160px;
  top: 148px;
  -webkit-transform: rotate(112deg);
          transform: rotate(112deg);
}

.covid-mouth {
  position: absolute;
  top: 62%;
  border: 4px solid #550611;
  border-color: transparent transparent transparent #550611;
  height: 45px;
  width: 152px;
  right: 30%;
  border-radius: 50px 0 0 50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.earth-mouth {
  position: absolute;
  height: 3px;
  width: 45px;
  background-color:  #550611;
  top: 82%;
  left: 38%;

  padding: 0;
  
}

.covid-cheek {
  position: absolute;
  background-image: url("../img/gray-lines.png"), -webkit-gradient(linear, left top, right top, from(#fe6aa5), to(#fa417a));
  background-image: url("../img/gray-lines.png"), linear-gradient(90deg, #fe6aa5 0%, #fa417a 100%);
  width: 60px;
  height: 40px;
  top: 41%;
  left: 110px;
  border-radius: 50%;
  opacity: 0.7;
}
.covid-cheek.right {
  position: absolute;
  left: 240px;
}

.earth {
  top: 68%;
  right: 25%;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 9;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../img/igem.png") ;
  background-position: center;
  background-size: contain;
}

.earth-detail {
  border-radius: 50%;
  content: "";
  position: absolute;
  background-color: #fff;
  width: 207px;
  height: 210px;
  z-index: 1;
  right: 99px;
  bottom: -74px;
  box-shadow: inset 0px -11px 10px 15px #c7c9d3;
}

.earth-greens {
  top: 24px;
  right: 123px;
  width: 70px;
  height: 54px;
  position: absolute;
  background: #bbe474;
  border-radius: 50%;
}
.earth-greens:before {
  content: "";
  top: 0;
  right: -4%;
  width: 19px;
  height: 14px;
  position: absolute;
  background: #bbe474;
  border-radius: 0 20px 20px 20px;
  -webkit-transform: rotate(-34deg);
          transform: rotate(-34deg);
}
.earth-greens:after {
  content: "";
  top: -3px;
  right: -14px;
  width: 18px;
  height: 13px;
  position: absolute;
  background-color: #bbe474;
  border-radius: 50%;
}
.earth-greens:nth-child(1) {
  top: 19px;
  right: 47%;
  width: 25px;
  height: 14px;
  background: #bbe474;
  border-radius: 50%;
}
.earth-greens:nth-child(1):before {
  content: "";
  top: 39px;
  right: 47px;
  width: 25px;
  height: 25px;
}
.earth-greens:nth-child(1):after {
  content: "";
  top: 25px;
  right: 20px;
  width: 22px;
  height: 30px;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
  border-radius: 65% 35% 83% 17% / 73% 27% 73% 27%;
}
.earth-greens:nth-child(2) {
  top: 60px;
  right: 68%;
  width: 14px;
  height: 22px;
  background: #bbe474;
  border-radius: 50%;
}
.earth-greens:nth-child(3) {
  top: 43px;
  right: 52%;
  width: 12px;
  height: 11px;
  background: #bbe474;
  border-radius: 50%;
}
.earth-greens:nth-child(3):before {
  content: "";
  top: 0;
  right: -4%;
  width: 19px;
  height: 14px;
}
.earth-greens:nth-child(3):after {
  content: "";
  top: -3px;
  right: -4px;
  width: 10px;
  height: 11px;
}
.earth-greens:nth-child(4) {
  top: 43px;
  right: 52%;
  width: 12px;
  height: 11px;
  background: #dbec71;
  border-radius: 50%;
}
.earth-greens:nth-child(5) {
  top: 43px;
  right: 52%;
  width: 12px;
  height: 11px;
  background: #dbec71;
  border-radius: 50%;
}
.earth-greens:nth-child(6) {
  top: 43px;
  right: 15%;
  width: 12px;
  height: 11px;
  background: #88cc60;
}
.earth-greens:nth-child(6):before {
  border-radius: 50%;
  background: #88cc60;
}
.earth-greens:nth-child(6):after {
  background: #88cc60;
  width: 42px;
  height: 40px;
  right: -31px;
}
.earth-greens:nth-child(7) {
  top: 65px;
  right: 9%;
  width: 6px;
  height: 19px;
  background: #88cc60;
}
.earth-greens:nth-child(7):before {
  border-radius: 50%;
  background: #88cc60;
}
.earth-greens:nth-child(7):after {
  background: #88cc60;
  width: 42px;
  height: 40px;
  right: -31px;
}
.earth-greens:nth-child(8) {
  top: 111px;
  right: 55%;
  width: 6px;
  height: 19px;
  background: #88cc60;
  z-index: -1;
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
}
.earth-greens:nth-child(8):before {
  border-radius: 50%;
  background: #88cc60;
}
.earth-greens:nth-child(8):after {
  background: #88cc60;
  width: 56px;
  height: 61px;
  right: -36px;
}
.earth-greens:nth-child(9) {
  top: 111px;
  right: 65%;
  width: 6px;
  height: 36px;
  background: #88cc60;
  z-index: -1;
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
}
.earth-greens:nth-child(9):before {
  border-radius: 50%;
  background: #88cc60;
}
.earth-greens:nth-child(9):after {
  background: #88cc60;
  width: 46px;
  height: 34px;
  right: -36px;
}
.earth-greens:nth-child(10) {
  top: 111px;
  right: 2%;
  width: 15px;
  height: 62px;
  background: #88cc60;
  z-index: -1;
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
}
.earth-greens:nth-child(10):before {
  height: 20px;
  border-radius: 50%;
  background: #88cc60;
  width: 41px;
  right: -4px;
  -webkit-transform: rotate(-95deg);
          transform: rotate(-95deg);
}
.earth-greens:nth-child(10):after {
  background: #88cc60;
  width: 46px;
  height: 34px;
  right: -36px;
}

.earth-eyes {
  bottom: 53%;
  right: 115px;
  width: 10px;
  height: 18px;
  -webkit-animation: eyes-blink 4s 1.5s infinite;
          animation: eyes-blink 4s 1.5s infinite;
}
.earth-eyes:before {
  width: 3px;
  height: 3px;
  right: 5px;
  top: 3px;
}
.earth-eyes.left {
  right: 78px;
}
.earth-eyes.left:before {
  right: 5px;
}

.covid-arms {
  position: absolute;
  background: url(../img/dark-stripes.png), #ff6a6a;
  width: 87px;
  height: 35px;
  z-index: 12;
  bottom: 79px;
  left: 65px;
  -webkit-transform: rotate(26deg) skew(57deg, -5deg);
          transform: rotate(26deg) skew(57deg, -5deg);
  border-radius: 10px 50% 50%;

}
.big-virus{
  position: absolute;
  right: 25%;
  width: 90px;
  height: auto;
  -webkit-transform: rotate(-30deg) ;
  -webkit-animation: big-slip 18s ease-in infinite alternate;
  animation: big-slip 18s ease-in infinite alternate;
}
.big-virus2{
  position: absolute;
  left: 15%;
  top: 650px !important;
  width: 100px;
  height: auto;
  -webkit-transform: rotate(30deg) ;
  -webkit-animation: big-slip2 16s ease-in infinite alternate;
  animation: big-slip2 16s ease-in infinite alternate;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}
@keyframes big-slip {
  0% {
    -webkit-transform: rotate(-30deg) translate(0px, 0px);
    transform:rotate(-30deg)  translate(0px, 0px);
  }
  10% {
    -webkit-transform:rotate(-30deg) translate(8px, -10px);
    transform:rotate(-30deg) translate(8px, -10px);
  }
  20% {
    -webkit-transform:rotate(-30deg) translate(0px, 0px);
    transform:rotate(-30deg) translate(0px, 0px);
  }
  30% {
    -webkit-transform:rotate(-30deg) translate(8px, 10px);
    transform:rotate(-30deg) translate(8px, 10px);
  }
  40% {
    -webkit-transform:rotate(-30deg) translate(0px, 0px);
    transform:rotate(-30deg) translate(0px, 0px);
  }
  50% {
    -webkit-transform:rotate(-30deg) translate(-10px, 13px);
    transform:rotate(-30deg) translate(-10px, 13px);
  }
  60% {
    -webkit-transform:rotate(-30deg) translate(0px, 0px);
    transform:rotate(-30deg) translate(0px, 0px);
  }
  70% {
    -webkit-transform:rotate(-30deg) translate(-10px, -10px);
    transform:rotate(-30deg) translate(-10px, -10px);
  }
  80% {
    -webkit-transform:rotate(-30deg) translate(0px, 0px);
    transform:rotate(-30deg) translate(0px, 0px);
  }

  90% {
    -webkit-transform:rotate(-30deg) translate(12px, -11px);
    transform:rotate(-30deg) translate(12px, -11px);
  }
  100% {
    -webkit-transform:rotate(-30deg) translate(6px, -3px);
    transform:rotate(-30deg) translate(6px, -3px);
  }
}
@keyframes big-slip2 {
  0% {
    -webkit-transform: rotate(30deg) translate(0px, 0px);
    transform:rotate(30deg)  translate(0px, 0px);
  }
  10% {
    -webkit-transform:rotate(30deg) translate(8px, -10px);
    transform:rotate(30deg) translate(8px, -10px);
  }
  20% {
    -webkit-transform:rotate(30deg) translate(0px, 0px);
    transform:rotate(30deg) translate(0px, 0px);
  }
  30% {
    -webkit-transform:rotate(30deg) translate(8px, 10px);
    transform:rotate(30deg) translate(8px, 10px);
  }
  40% {
    -webkit-transform:rotate(30deg) translate(0px, 0px);
    transform:rotate(30deg) translate(0px, 0px);
  }
  50% {
    -webkit-transform:rotate(30deg) translate(-10px, 13px);
    transform:rotate(30deg) translate(-10px, 13px);
  }
  60% {
    -webkit-transform:rotate(30deg) translate(0px, 0px);
    transform:rotate(30deg) translate(0px, 0px);
  }
  70% {
    -webkit-transform:rotate(30deg) translate(-10px, -10px);
    transform:rotate(30deg) translate(-10px, -10px);
  }
  80% {
    -webkit-transform:rotate(30deg) translate(0px, 0px);
    transform:rotate(30deg) translate(0px, 0px);
  }

  90% {
    -webkit-transform:rotate(30deg) translate(12px, -11px);
    transform:rotate(30deg) translate(12px, -11px);
  }
  100% {
    -webkit-transform:rotate(30deg) translate(6px, -3px);
    transform:rotate(30deg) translate(6px, -3px);
  }
}
.covid-arms.right {
  left: 255px;
  bottom: 70px;
  -webkit-transform: rotate(146deg) skew(24deg, 5deg);
          transform: rotate(146deg) skew(24deg, 5deg);
  background: url(../img/dark-stripes.png), #ff3d61;
}

.mask {
  position: absolute;
  top: -31%;
  border: 5px solid #d5d7de;
  border-color: transparent transparent transparent #d5d7de;
  height: 277px;
  width: 136px;
  right: 13%;
  border-radius: 250px 0 0 250px;
  -webkit-transform: rotate(268deg);
          transform: rotate(268deg);
}

.mask-wrapper {
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 96% 100%, 4% 100%, 0% 38%);
          clip-path: polygon(50% 0%, 100% 38%, 96% 100%, 4% 100%, 0% 38%);
  width: 90px;
  height: 90px;
  background-color: #fff;
  position: absolute;
  bottom: -2px;
  right: 28%;
  border-radius: 26px;
  box-shadow: inset 0px -8px 10px 2px #c7c9d3;
}
.mask-wrapper:before {
  content: "";
  position: absolute;
  height: 81px;
  width: 1px;
  background: #e3e4e8;
  z-index: 5;
  box-shadow: -4px 1px 7px 1px #d5d7de;
  right: 50%;
}

.mask-back {
  width: 59px;
  height: 53px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  bottom: 24px;
  right: 33%;
  z-index: -1;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

@media screen and (max-width: 490px) {
  .covid,
  .earth,
  .earth-detail {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  .virus {
    display: none;
  }

  .covid-arms {
    -webkit-transform: scale(0.8) rotate(26deg) skew(57deg, -5deg);
            transform: scale(0.8) rotate(26deg) skew(57deg, -5deg);
    bottom: 98px;
    left: 87px;
  }

  .covid-arms.right {
    -webkit-transform: scale(0.8) rotate(146deg) skew(24deg, 5deg);
            transform: scale(0.8) rotate(146deg) skew(24deg, 5deg);
    bottom: 90px;
    left: 236px;
  }

  .covid-pulse {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }

  .earth {
    top: 60%;
  }

  .earth-detail {
    top: 59%;
  }

  .mask {
    top: -32%;
  }
}
@media screen and (max-width: 420px) {
  .covid,
  .earth,
  .earth-detail {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }

  .covid-pulse {
    -webkit-transform: translate(-50%, -50%) scale(0.6);
            transform: translate(-50%, -50%) scale(0.6);
  }

  .earth {
    top: 51%;
  }

  .earth-detail {
    top: 50%;
  }

  .covid-arms {
    -webkit-transform: scale(0.6) rotate(26deg) skew(57deg, -5deg);
            transform: scale(0.6) rotate(26deg) skew(57deg, -5deg);
    bottom: 122px;
    left: 107px;
  }

  .covid-arms.right {
    -webkit-transform: scale(0.6) rotate(146deg) skew(24deg, 5deg);
            transform: scale(0.6) rotate(146deg) skew(24deg, 5deg);
    bottom: 116px;
    left: 219px;
  }

  .mask {
    top: -32%;
  }
}
@media (max-height: 640px) {
  .covid,
  .earth,
  .earth-detail {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }

  .covid-pulse {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }

  .earth {
    top: 56%;
  }

  .earth-detail {
    top: 55%;
  }

  .mask {
    top: -32%;
  }

  .covid-arms {
    -webkit-transform: scale(0.8) rotate(26deg) skew(57deg, -5deg);
            transform: scale(0.8) rotate(26deg) skew(57deg, -5deg);
    bottom: 108px;
    left: 95px;
  }

  .covid-arms.right {
    -webkit-transform: scale(0.8) rotate(146deg) skew(24deg, 5deg);
            transform: scale(0.8) rotate(146deg) skew(24deg, 5deg);
    bottom: 101px;
    left: 232px;
  }
}

.g-cell-wrapper{
  position: relative;
  top: -900px;
}
.g-covid-wrapper {
  position: absolute;
  top:200px;
  left: 42px;

}



.g-covid {
  background-image: url("../img/dark-stripes.png"), -webkit-gradient(linear, right bottom, left top, from(#26ad65), to(#61dd9b));
  background-image: url("../img/dark-stripes.png"), linear-gradient(to left top,#26ad65, #39be77,  #46ce85,#61dd9b);
  width: 410px;
  height: 410px;
  z-index: 2;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  -webkit-animation: g-pulse 1.5s infinite reverse;
  animation: g-pulse 1.5s infinite reverse;
}
.g-covid-pulse {
  content: "";
  width: 480px;
  height: 480px;
  /* background-color: #2f184e; */
  border-radius: 50%;
  position: absolute;
  top:160px;
  left: 10px;

  box-shadow: inset 0 0 25px #80df69;
}

@-webkit-keyframes g-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(121, 238, 85, 0.21);
  }
  70% {
    box-shadow: 0 0 8px 55px rgba(47, 211, 135, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(49, 160, 194, 0.1);
  }
}

@keyframes g-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(121, 238, 85, 0.21);
  }
  70% {
    box-shadow: 0 0 8px 55px  rgba(47, 211, 135, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0  rgba(49, 160, 194, 0.1);
  }
}


.g-covid-spot {
  background-image: url("../img/dark-stripes.png");
  background-color: #17cf20;
  position: absolute;
  border-radius: 50%;
}
.g-covid-spot:nth-child(1) {
  top: 216px;
  right: 50px;
  width: 22px;
  height: 22px;
  background-color: #10902c;
}
.g-covid-spot:nth-child(2) {
  top: 56px;
  right: 140px;
  width: 24px;
  height: 24px;
  background-color: #109036;
}
.g-covid-spot:nth-child(3) {
  top: 136px;
  right: 35px;
  width: 18px;
  height: 18px;
  background-color: #05630a;
}
.g-covid-spot:nth-child(4) {
  top: 46px;
  right: 255px;
  width: 28px;
  height: 28px;
  background-color: #3ebc4f;
}
.g-covid-spot:nth-child(5) {
  top: 106px;
  right: 335px;
  width: 18px;
  height: 18px;
  background-color: #49bc3e;
}
.g-covid-spot:nth-child(6) {
  top: 206px;
  right: 315px;
  width: 52px;
  height: 52px;
  background: url("../img/dark-stripes.png"), linear-gradient(305deg, #10803b 0%, #32aa4c 100%);
}
.g-covid-spot:nth-child(7) {
  top: 256px;
  right: 295px;
  width: 14px;
  height: 14px;
  background-color: #128012;
}
.g-covid-spot:nth-child(8) {
  top: 286px;
  right: 365px;
  width: 38px;
  height: 38px;
  background-color: #128012;
}
.g-covid-spot:nth-child(9) {
  top: 286px;
  right: 45px;
  width: 16px;
  height: 16px;
  background-color: #128012;
}
.g-covid-spot:nth-child(10) {
  top: 75px;
  right: 75px;
  width: 36px;
  height: 36px;
  background-color: #128012;
}
.g-covid-spot:nth-child(11) {
  top: 240px;
  right: 90px;
  width: 50px;
  height: 50px;
  background-color: #128012;
}

.g-virus {
  position: absolute;
  border-radius: 50%;
  z-index: 99;
  -webkit-animation: slip 7s linear infinite alternate;
          animation: slip 7s linear infinite alternate;
}
.g-virus:nth-child(1) {
  top: 0;
  right: 0px;
  width: 24px;
  height: 24px;
  background-color: #6ff43a;
  box-shadow: inset 0px 0px 0px 4px rgb(120, 143, 36), 0 0 12px 3px #788f24;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.g-virus:nth-child(2) {
  top: 180px;
  left: -35px;
  width: 32px;
  height: 32px;
  background-color: #59f43a;
  box-shadow: inset 0px 0px 0px 6px #6f8f24, 0 0 12px 3px #6f8f24;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.g-virus:nth-child(3) {
  top: 414px;
  left: 445px;
  width: 32px;
  height: 32px;
  background-color: #82f061;
  box-shadow: inset 0px 0px 0px 6px #908f54, 0 0 12px 3px #8c9054;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.g-virus:nth-child(4) {
  top: 467px;
  left: 158px;
  width: 22px;
  height: 22px;
  background-color: #d1f061;
  box-shadow: inset 0px 0px 0px 4px #609054, 0 0 12px 3px #549063;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.g-virus:nth-child(5) {
  top: 390px;
  left: -22px;
  width: 22px;
  height: 22px;
  background-color: #65f43a;
  box-shadow: inset 0px 0px 0px 4px #8f8424, 0 0 12px 3px #8f8424;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.g-virus:nth-child(6) {
  top: -32px;
  left: 0px;
  width: 22px;
  height: 22px;
  background-color: #59f43a;
  box-shadow: inset 0px 0px 0px 4px #848f24, 0 0 12px 3px #8f8424;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.g-virus:nth-child(7) {
  top: -78px;
  left: 244px;
  width: 22px;
  height: 22px;
  background-color: #61f068;
  box-shadow: inset 0px 0px 0px 4px #5b9054, 0 0 12px 3px #629054;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.g-virus:nth-child(8) {
  top: 30px;
  left: 442px;
  width: 32px;
  height: 32px;
  background-color: #61f091;
  box-shadow: inset 0px 0px 0px 6px #659054, 0 0 12px 3px #679054;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.g-virus:nth-child(9) {
  top: 268px;
  left: 477px;
  width: 22px;
  height: 22px;
  background-color: #94f43a;
  box-shadow: inset 0px 0px 0px 4px #7f8f24, 0 0 12px 3px #7b8f24;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.g-virus:nth-child(10) {
  top: 392px;
  left: 320px;
  width: 22px;
  height: 22px;
  background-color: #61f079;
  box-shadow: inset 0px 0px 0px 6px #719054, 0 0 12px 3px #6c9054;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}


.g-covid-eyes {
  position: absolute;
  background: #262626;
  background: linear-gradient(113deg, #0d2192 0%, #1c789c 100%);
  width: 18px;
  height: 26px;
  right: 230px;
  bottom: 61%;
  border-radius: 50%;
  -webkit-animation: eyes-blink 3s infinite;
  animation: eyes-blink 3s infinite;
}
.g-covid-eyes.left {
  right: 160px;
}
.g-covid-eyes.left:before {
  right: 4px;
}
.g-covid-eyes:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  right: 4px;
  top: 14px;
  border-radius: 50%;
  background-color: #fff;
}

.g-covid-eyebrow {
  top: 35%;
  position: absolute;
  border: 9px solid #0f5506;
  border-color: transparent transparent transparent #1c5506;
  height: 25px;
  width: 122px;
  right: 38%;
  border-radius: 50px 0 0 50px;
  -webkit-transform: rotate(56deg);
  transform: rotate(56deg);
}
.g-covid-eyebrow:before {
  content: "";
  position: absolute;
  background-color: #0d5506;
  width: 9px;
  height: 9px;
  top: -5px;
  left: -3px;
  border-radius: 50%;
}
.g-covid-eyebrow:after {
  content: "";
  position: absolute;
  background-color: #0d5506;
  width: 9px;
  height: 9px;
  top: 20px;
  left: -4px;
  border-radius: 50%;
}
.g-covid-eyebrow.right {
  left: 160px;
  top: 148px;
  -webkit-transform: rotate(112deg);
  transform: rotate(112deg);
}

.g-covid-mouth {
  position: absolute;
  top: 30%;
  border: 4px solid #265506;
  border-color: transparent #1f5506 transparent transparent ;
  height: 45px;
  width: 152px;
  right: 30%;
  border-radius:  0 50px   50px 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.g-covid-cheek {
  position: absolute;
  background-image: url("../img/gray-lines.png"), -webkit-gradient(linear, left top, right top, from(#cafe6a), to(#7cfa41));
  background-image: url("../img/gray-lines.png"), linear-gradient(90deg, #cafe6a 0%, #85fa41 100%);
  width: 60px;
  height: 40px;
  top: 41%;
  left: 110px;
  border-radius: 50%;
  opacity: 0.7;
}
.g-covid-cheek.right {
  position: absolute;
  left: 240px;
}



.g-covid-arms {
  position: absolute;
  background: url(../img/dark-stripes.png), #23b610;
  width: 87px;
  height: 35px;
  z-index: 12;
  bottom: 79px;
  left: 65px;
  -webkit-transform: rotate(30deg) skew(57deg, -5deg);
  transform: rotate(30deg) skew(57deg, -5deg);
  border-radius: 10px 50% 50%;
}
.g-covid-arms.right {
  left: 255px;
  bottom: 70px;
  -webkit-transform: rotate(120deg) skew(24deg, 5deg);
  transform: rotate(120deg) skew(24deg, 5deg);
  background: url(../img/dark-stripes.png), #24a513;
}


@media screen and (max-width: 490px) {
  .covid,
  .earth,
  .earth-detail {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  .g-virus {
    display: none;
  }

  .g-covid-arms {
    -webkit-transform: scale(0.8) rotate(26deg) skew(57deg, -5deg);
    transform: scale(0.8) rotate(26deg) skew(57deg, -5deg);
    bottom: 98px;
    left: 87px;
  }

  .g-covid-arms.right {
    -webkit-transform: scale(0.8) rotate(146deg) skew(24deg, 5deg);
    transform: scale(0.8) rotate(146deg) skew(24deg, 5deg);
    bottom: 90px;
    left: 236px;
  }

  .g-covid-pulse {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8);
  }


}
@media screen and (max-width: 420px) {
  .g-covid,

  .g-covid-pulse {
    -webkit-transform: translate(-50%, -50%) scale(0.6);
    transform: translate(-50%, -50%) scale(0.6);
  }


  .g-covid-arms {
    -webkit-transform: scale(0.6) rotate(26deg) skew(57deg, -5deg);
    transform: scale(0.6) rotate(26deg) skew(57deg, -5deg);
    bottom: 122px;
    left: 107px;
  }

  .g-covid-arms.right {
    -webkit-transform: scale(0.6) rotate(146deg) skew(24deg, 5deg);
    transform: scale(0.6) rotate(146deg) skew(24deg, 5deg);
    bottom: 116px;
    left: 219px;
  }


}
@media (max-height: 640px) {
  .g-covid,

  .g-covid-pulse {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
  }

  .g-covid-arms {
    -webkit-transform: scale(0.8) rotate(26deg) skew(57deg, -5deg);
    transform: scale(0.8) rotate(26deg) skew(57deg, -5deg);
    bottom: 108px;
    left: 95px;
  }

  .g-covid-arms.right {
    -webkit-transform: scale(0.8) rotate(146deg) skew(24deg, 5deg);
    transform: scale(0.8) rotate(146deg) skew(24deg, 5deg);
    bottom: 101px;
    left: 232px;
  }
}