.divide-line{
    position: relative;
    height: 3px;
    width: 100%;
    border: 2px  dashed;
    border-color: #d1c7b7 transparent transparent transparent;
    top: 70px;
}
.wiki-slide{
    font-size: 20px;
    font-weight: normal;
    width: 100%;
    height:auto;
    margin-top: 5px;
    text-transform: none;
    display: flex;
}
.slide-text{
    margin-top: 70px;
}
.slide-title{
    min-width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 30px !important;
    color: white;
    background-image: linear-gradient(to right, #2f80ed,#56ccf2);
    line-height: 40px;
    padding: 30px;
    width: fit-content;
    border-radius: 60px;
}
.slide-content-text{
    margin-top: 40px;
    font-size: 22px !important;
    font-family: "Hind Madurai", sans-serif !important;
    width: 75%;
    line-height: 1cm;
    text-indent: 1cm;
    text-align: justify;
    color: #484848;
    padding: 30px;
    border: #009ad6 solid 2px;
    border-radius: 30px;
    direction: ltr;
    background-color: white!important;

}
.text-left{
    margin-left: 80px;
}
.slide-img{
    margin: 50px 80px 0px 110px;
    max-width: 550px;
    width: 500px;
    height: auto;

}
