.divide-line{
    position: relative;
    height: 3px;
    width: 100%;
    border: 2px  dashed;
    border-color: #d1c7b7 transparent transparent transparent;
    top: 70px;
}
.wiki-slide{
    font-size: 20px;
    font-weight: normal;
    width: 100%;
    height:auto;
    margin-top: 5px;
    text-transform: none;
    display: flex;
}
.slide-text{
    margin-top: 70px;
}
.slide-title{
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-image: linear-gradient(to right, #2f80ed,#56ccf2);
    line-height: 40px;
    padding: 30px;
    text-align: center;
    width: max-content;
    border-radius: 60px;
}
.slide-content-text{
    margin-top: 40px;
    font-size: 22px !important;
    font-family: "Hind Madurai", sans-serif !important;
    width: 75%;
    line-height: 1cm;
    text-indent: 1cm;
    text-align: justify;
    color: #484848;
    padding: 30px;
    border: #009ad6 solid 2px;
    border-radius: 30px;
    direction: ltr;
}
.text-left{
    margin-left: 80px;
}
.slide-img{
    margin: 50px 80px 0px 110px;
    max-width: 550px;
    width: 500px;
    height: auto;

}
footer{

    background: #efeeee;
    height: 300px;
    margin: 0px auto ;
    margin-bottom: 0px;
    width: 110%;
    padding-top: 100px;
    z-index: -1;
}

footer .container{

    margin: 0px auto;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}


.copyright{
    margin-top: 30px;
    text-align: center;
    font-family: "Hind Madurai", sans-serif !important;
    font-size: 20px;
    color: slategray;
}

footer .container .box{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 140px;
    margin: 20px;

}
footer .container .box .img{
    /*width: 100px;*/
    height: 100px;
    padding: 20px;
    box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.1),
    -18px -18px 30px rgba(255,255,255,1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efeeee;
    transition: box-shadow .2s ease-in-out;
}
footer .container .box .img img{
    height: 100px;
    transition: width .2s ease-out;
}
footer .container .box p{
    margin-top: 20px;
    color: slategray;
}
footer .container .box .img:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 0px 0px rgba(255,255,255,1),
    inset 18px 18px 30px rgba(0, 0, 0, 0.1),
    inset -18px -18px 30px rgba(255,255,255,1);
}
footer .container .box .img:hover img{
    height: 94px;
    transition: width .2s ease-out;
}